html {
    background-image: url("./background.jpg");
    /* background-image: url('./icon.png'); */

    background-size: 100%;
    background-repeat: no-repeat;
    font-family: 'Courier New', Courier, monospace;

}

/* .nav {
    display: flex;
    width: 99vw;
    height: 58px;
}

.nav-tabs {
    display: flex;
    justify-content: flex-end;
    flex-grow: 8;
}

.logo {
    display: flex;

}

/* .actual-logo {
    max-width: 40%;
} */
/* .tab {
    margin: 10px;
    background-color: lightgreen;
    padding: 5px;
    font-size: 18px;
}
 */ 

 .main-box {
     margin-top: 4%;
     display: flex;
     width: 50vw;
     /* background-color: white; */
     flex-direction: column;
     justify-content: space-between;

 }

 .tab:hover {
     color: blue;
 }

 .outer-box {
     /* height: 100vh; */
     display: flex;
     justify-content: center;
     vertical-align: middle;
 }

 .nav-box {
     display: flex;
     width: 100%;
     justify-content: space-around;
     height: 5vh;
     background-color:#BDA37D;
     vertical-align: middle;
     align-items: center;
     border-radius: 30px;
 }

 .content-box {
     margin-top: 50px;
     flex:1;
     background-color:white;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
 }

 .tab {
    display: flex;
    vertical-align: middle;

 }

.title {
    justify-content: center;
    display: flex;
}

 .left-content-div {
     width: 50%
 }

 .right-content-div {
     width: 50%;
     padding: 10px;
     text-align:center;
 }

 .sub-content {
     display: flex;
 }

 .logo-img {
    border-radius: 30px;

 }


 /* menu section */
 .content-box-menu {
     display: flex;
     background-color:white;
     border-radius: 30px;
     margin-top: 50px;
     flex-direction: column;
    /* height: 960px; */
 }




 .menu-row {
     display: flex;
     flex-wrap: wrap;
 }

 .menu-intro {
     padding: 25px;
     text-align: center;
 }

 .item {
     display: flex;
     flex: 1 1 0;
     width: calc(50% - 20px);
     padding: 10px;
 }

 .item > img {
     /* object-fit: contain; */
     border-radius: 30px;
     object-fit: cover;
     flex: 1 1 0;
     height: 158px

 }

 .item > * {
     /* padding: 25px; */
     min-width: 0;
     /* flex:1; */
    
 } 

 p {
     flex: 1 1 0;
     text-align: center;
 }

 .food-items {
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
 }

 /* Contact Section */

 .content-box-contact {
    display: flex;
    background-color:white;
    border-radius: 30px;
    margin-top: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   /* height: 960px; */
}

.content-box-contact > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-box-contact > form > div {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.content-box-contact > form > .button{
    padding: 10px;
    justify-content: center;
}